html {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: fixed !important;
    touch-action: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    overscroll-behavior: none !important;
    -ms-content-zooming: none !important;
    -ms-touch-action: none !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
}

body {
    background: #000 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: fixed !important;
    touch-action: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    overscroll-behavior: none !important;
    -webkit-touch-callout: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -ms-content-zooming: none !important;
    -ms-touch-action: none !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
}

.loadingFloat {
	position: absolute;
	left: 50%;
	top: 48%;
	width: 80px;
	height: 80px;
	margin-left: -35px;
	margin-top: -35px;
}

.loadingLogo {
	position: relative;
	width: 60px;
	height: 60px;
	left: 10px;
	top: 10px;
	background-image: url(http://www.isogenicengine.com/logo/irrelon.png);
}

.loadingCircle {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 205px #2187e7;
	width:70px;
	height:70px;
	margin:0 auto;
	position: relative;
	top:-60px;
	-moz-animation:spinPulse 2s infinite ease-in-out;
	-webkit-animation:spinPulse 2s infinite linear;
}
.loadingCircleInner {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7; 
	width:55px;
	height:55px;
	margin:0 auto;
	position:relative;
	top:-132px;
	left: 0px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}

.loadingText {
    position: absolute;
    top: 90px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    width: 250px;
    font-variant: small-caps;
    -moz-animation: fadePulse 1s infinite linear;
    -webkit-animation: fadePulse 1s infinite linear;
    left: -85px;
}

.loadingLink {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-variant: small-caps;
    width: 250px;
    text-align: right;
    opacity: 1;
}

.loadingLink a {
    color: #ffffff;
    opacity: 0.7;
}

@-moz-keyframes fadePulse {
	0% { opacity:0.5; }
	50% { opacity:1; }
	100% { opacity:0.5; }
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(135deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes fadePulse {
	0% { opacity:0.5; }
	50% { opacity:1; }
	100% { opacity:0.5; }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(135deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

/* AGGRESSIVE: Prevent zoom and scaling conflicts with joystick */
* {
    -webkit-touch-callout: none !important;
    -webkit-tap-highlight-color: transparent !important;
    touch-action: manipulation !important;
}

canvas {
    touch-action: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -ms-content-zooming: none !important;
    -ms-touch-action: none !important;
    cursor: none !important; /* Скрыть курсор */
}

/* Canvas container */
#igeFrontBuffer {
    touch-action: none !important;
    -ms-content-zooming: none !important;
    -ms-touch-action: none !important;
    cursor: none !important;
}

/* Блокировка виртуального курсора на мобильных */
@media (hover: none) and (pointer: coarse) {
    * {
        cursor: none !important;
    }
    body {
        cursor: none !important;
    }
}

/* Make sure joystick controls are always on top and touchable */
#mobileControls,
#dropButton {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
    touch-action: auto !important;
    pointer-events: auto !important;
    cursor: default !important; /* Разрешить курсор на элементах управления */
}

/* Виртуальный джойстик canvas элементы */
canvas[style*="position: absolute"] {
    cursor: default !important; /* Разрешить курсор на джойстиках */
}